@use '~bulma/bulma' with (
	$primary: #73a5ff,
);
@use 'toastify.scss';

body {
	background-color: #252525;
	min-height: 100vh;
	max-width: 100%;
}

.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
	color: #d3d3d3;
}
.textarea::-moz-placeholder,
.input::-moz-placeholder {
	color: #d3d3d3;
}
.textarea:-ms-input-placeholder,
.input:-ms-input-placeholder {
	color: #d3d3d3;
}
.textarea::-ms-input-placeholder,
.input::-ms-input-placeholder {
	color: #d3d3d3;
}
.textarea::placeholder,
.input::placeholder {
	color: #d3d3d3;
}

.json-output,
.env-output {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.output-container {
	padding: 2rem 0;
}

.output-box {
	height: 100%;
}
