@use '~bulma/bulma' with (
	$primary: #73a5ff,
	$card-shadow:  0 3px 6px rgba(0,0,0,0.16)#{","} 0 3px 6px rgba(0,0,0,0.23),
	$scheme-main: #252525,
	$footer-padding: 2rem 1.5rem,
	$footer-background-color: transparent,
);
@use '~toastify-js/src/toastify.css';
@use 'animation';

body {
	min-height: 100vh;
	max-width: 100%;
}

::-webkit-scrollbar {
	background-color: bulma.$white;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: bulma.$primary;
}

.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
	color: #d3d3d3;
}
.textarea::-moz-placeholder,
.input::-moz-placeholder {
	color: #d3d3d3;
}
.textarea:-ms-input-placeholder,
.input:-ms-input-placeholder {
	color: #d3d3d3;
}
.textarea::-ms-input-placeholder,
.input::-ms-input-placeholder {
	color: #d3d3d3;
}
.textarea::placeholder,
.input::placeholder {
	color: #d3d3d3;
}

.code {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.card {
	border-radius: 1rem;
}

.code-card {
	background-color: #21252b;

	.card-content {
		padding: 0.5rem 0;
		overflow-x: auto;
	}
}

.code {
	color: #4a9aa5;
	white-space: nowrap;

	.key {
		color: #e06c75;
	}

	.value {
		color: #98c379;
	}
}

.copy-button {
	position: absolute;
	top: 50%;
	right: 5px;
	transition: transform 0.3s ease-in-out, opacity 0.4s ease-out;
	opacity: 0;
	transform-origin: bottom;
	transform: translateY(-50%) scale(0.8);
}

tr {
	background-color: #21252b;

	&:hover .copy-button {
		opacity: 1;
		transform: translateY(-50%) scale(1);
	}
}

.content-container {
	height: calc(100% - 5.5rem);
	overflow: auto;
}
